auto-install-peers=true
build-scripts-allowed=@embedded-postgres/darwin-arm64,@embedded-postgres/darwin-x64,@embedded-postgres/linux-arm64,@embedded-postgres/linux-x64,esbuild,node-pty,@homebridge/node-pty-prebuilt-multiarch
